<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
    <header>    
        <nav class = "nav-bar">
            <a href="#" class="name">Zemo</a>
            <a href="/profile" class="pages">Profile</a>
            <a href="/grades" class="pages">Grades</a>
            <a href="/home" class="pages">Home</a>
        </nav>
    </header>
    <div>
        <img src="{{ url_for('static', filename='images/3156627.jpg') }}" alt="Image 1" class = "image">
        <p class = "name1">Hello, {{ name }}!</p>
    </div>
    <h1 class="animated-text">Ze </h1>
    <h1 class = "text2">mo</h1>
</body>
</html>