<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error!!!</title>
    <style>
        .error{
            color: red;
            font-size: 50px;
            align-items: center;
            position: absolute;
            top: 250px;
            left: 550px;
            animation: textAnimation 1s ease-in 0s;
        }
        @keyframes textAnimation {
            0% { opacity: 0; transform: translateX(-50px); }
            100% { opacity: 1; transform: translateX(0); }
        }
    </style>
</head>
<body>
    <h1 class='error'>Error!!!</h1>
</body>
</html>